{
    "theme": "dark",
    "accent_color": "#0080ff",
    "fullscreen": false,
    "confirm_delete": true,
    "confirm_exit": false,
    "auto_save_on_close": true,
    "default_status": "Диагностика",
    "default_priority": "Обычный",
    "remind_overdue": true,
    "overdue_days": 14,
    "notify_on_ready": true,
    "auto_backup": false,
    "backup_interval": 24,
    "backup_count": 10,
    "backup_path": "C:\\Users\\Сервис\\Desktop\\ServiceUP(new)\\backups",
    "compress_backups": true,
    "photo_quality": 85,
    "create_thumbnails": true,
    "window_width": 1452,
    "window_height": 847,
    "window_x": 117,
    "window_y": 106,
    "show_completed": true,
    "transparency": true,
    "transparency_alpha": 0.97,
    "window_geometry": {
        "report_editor": "1514x846+356+14"
    },
    "pwa": {
        "port": 5000,
        "auto_start": true,
        "auto_sync": true,
        "sync_interval": 30
    },
    "column_widths": {
        "Заказ №": 67,
        "Дата приёма": 96,
        "Дней": 51,
        "Дата выдачи": 86,
        "Устройство": 177,
        "Клиент": 147,
        "Телефон": 117,
        "Неисправность": 177,
        "Статус": 117,
        "Приоритет": 96,
        "Инженер": 106,
        "Цена": 86,
        "Фото": 57
    }
}